<header class="top-bar">
    <div class="app-name">
        <p>
            Employee Management System
        </p>
    </div>
    <nav class="nav-tab">
        <ul>
            <a href="/Home"><li>Home </li></a>
            <a href="/About"><li>About </li></a>
            <a href="/Support"><li>Support </li></a>
            <a href="/logout"><li>Logout </li></a>
        </ul>
    </nav>
</header>