<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <p class="about-text">
            This is mini project devloped after learing Node.js and Mongodb.

            Created a REST api of Employee management Sytem.

            Performing CRUD Operations.
        </p>

    </body>
    <%- include("./partials/footer.ejs") %>
</html>